In [9]:
%matplotlib notebook

In [10]:
# Dependencies 
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [11]:
noaa_data = "data/storm_data_search_results.csv"
noaa = pd.read_csv(noaa_data)

noaa_df = pd.DataFrame(noaa)
noaa_df

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,10075745,ROCKINGHAM CO.,,03/05/1955,1430,Hail,0.75,,0,0,...,,03/05/1955,1430,36.50,-79.68,,,NaN,NaN,1
1,10075746,DURHAM CO.,,03/05/1955,1615,Hail,1.50,,0,0,...,,03/05/1955,1615,36.20,-78.78,,,NaN,NaN,2
2,10075747,MECKLENBURG CO.,,03/12/1955,120,Hail,1.00,,0,0,...,,03/12/1955,120,35.20,-80.90,,,NaN,NaN,3
3,10075748,MECKLENBURG CO.,,03/12/1955,1602,Hail,0.75,,0,0,...,,03/12/1955,1602,35.28,-80.90,,,NaN,NaN,4
4,10075751,CO.,,04/06/1955,2100,Hail,1.00,,0,0,...,,04/06/1955,2100,35.08,-81.08,,,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,10089040,FORSYTH CO.,,06/05/1985,1550,Hail,0.75,,0,0,...,,06/05/1985,1550,36.10,-80.25,,,NaN,NaN,496
496,10089042,GUILFORD CO.,,06/05/1985,1555,Hail,1.25,,0,0,...,,06/05/1985,1555,36.07,-79.80,,,NaN,NaN,497
497,10089044,CATAWBA CO.,,06/05/1985,1619,Hail,1.00,,0,0,...,,06/05/1985,1619,35.70,-81.22,,,NaN,NaN,498
498,10089046,IREDELL CO.,,06/05/1985,1630,Hail,0.75,,0,0,...,,06/05/1985,1630,35.78,-80.90,,,NaN,NaN,499
499,10089048,CATAWBA CO.,,06/05/1985,1649,Hail,1.00,,0,0,...,,06/05/1985,1649,35.72,-81.15,,,NaN,NaN,500

In [12]:
noaa_renamed_df = noaa_df.rename(columns={"CZ_NAME_STR": "Affected County",
                                          "MAGNITUDE": "Diameter(inches)"})
noaa_renamed_df

,EVENT_ID,Affected County,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,Diameter(inches),TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,10075745,ROCKINGHAM CO.,,03/05/1955,1430,Hail,0.75,,0,0,...,,03/05/1955,1430,36.50,-79.68,,,NaN,NaN,1
1,10075746,DURHAM CO.,,03/05/1955,1615,Hail,1.50,,0,0,...,,03/05/1955,1615,36.20,-78.78,,,NaN,NaN,2
2,10075747,MECKLENBURG CO.,,03/12/1955,120,Hail,1.00,,0,0,...,,03/12/1955,120,35.20,-80.90,,,NaN,NaN,3
3,10075748,MECKLENBURG CO.,,03/12/1955,1602,Hail,0.75,,0,0,...,,03/12/1955,1602,35.28,-80.90,,,NaN,NaN,4
4,10075751,CO.,,04/06/1955,2100,Hail,1.00,,0,0,...,,04/06/1955,2100,35.08,-81.08,,,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,10089040,FORSYTH CO.,,06/05/1985,1550,Hail,0.75,,0,0,...,,06/05/1985,1550,36.10,-80.25,,,NaN,NaN,496
496,10089042,GUILFORD CO.,,06/05/1985,1555,Hail,1.25,,0,0,...,,06/05/1985,1555,36.07,-79.80,,,NaN,NaN,497
497,10089044,CATAWBA CO.,,06/05/1985,1619,Hail,1.00,,0,0,...,,06/05/1985,1619,35.70,-81.22,,,NaN,NaN,498
498,10089046,IREDELL CO.,,06/05/1985,1630,Hail,0.75,,0,0,...,,06/05/1985,1630,35.78,-80.90,,,NaN,NaN,499
499,10089048,CATAWBA CO.,,06/05/1985,1649,Hail,1.00,,0,0,...,,06/05/1985,1649,35.72,-81.15,,,NaN,NaN,500

In [13]:
death =noaa_renamed_df["DEATHS_DIRECT"].value_counts()
number_of_deaths =len(death)
number_of_deaths

1

In [14]:
injuries =noaa_renamed_df["INJURIES_DIRECT"].value_counts()
number_of_injuries =len(injuries)
number_of_injuries

1

In [15]:
counties =noaa_renamed_df["Affected County"].value_counts()
number_of_counties =len(counties)
number_of_counties

88

In [16]:
hail_mean = noaa_renamed_df.groupby('Affected County').mean()["Diameter(inches)"]
hail_mean

hail_median = noaa_renamed_df.groupby('Affected County').median()["Diameter(inches)"]
hail_median

hail_variance = noaa_renamed_df.groupby('Affected County').var()["Diameter(inches)"]
hail_variance

hail_std = noaa_renamed_df.groupby('Affected County').std()["Diameter(inches)"]
hail_std

hail_sem = noaa_renamed_df.groupby('Affected County').sem()["Diameter(inches)"]
hail_sem

Affected County
ALAMANCE CO.     0.190029
ALEXANDER CO.         NaN
ANSON CO.        0.125000
AVERY CO.        0.375000
BEAUFORT CO.     0.250000
                   ...
WAYNE CO.        0.158333
WILKES CO.       0.187500
WILSON CO.       0.125000
YADKIN CO.       0.176777
YANCEY CO.            NaN
Name: Diameter(inches), Length: 88, dtype: float64